<div class="chat-list-wrapper">
  <div 
    class="chat-item"
    *ngFor="let chat of chats"
    (click)="selectChat(chat)"
  >
    <img class="avatar" src="user.png" />

    <div class="chat-info">
      <div class="chat-name">{{ chat.name }}</div>
      <div class="last-msg">{{ chat.lastMessage }}</div>
    </div>

    <div class="chat-meta">
      <div class="time">{{ chat.time }}</div>

      <div *ngIf="chat.unread > 0" class="unread-badge">
        {{ chat.unread }}
      </div>
    </div>
  </div>
</div>
