<div class="chat-list-wrapper">
  <div
    class="chat-item"
    *ngFor="let chat of chats"
    (click)="selectChat(chat)"
  >
    <img class="avatar" src="user.png" />

    <div class="chat-info">

      <div class="chat-name">
        <!-- Group Chat -->
        <ng-container *ngIf="chat.isGroup; else privateChat">
          {{ chat.groupName || 'Unnamed Group' }}
        </ng-container>

        <!-- Private Chat -->
        <ng-template #privateChat>
          {{ getOtherParticipantName(chat) }}
        </ng-template>
      </div>

      <div class="last-msg">No messages yet</div>
    </div>

    <div class="chat-meta">
      <div class="time">
        {{ chat.updatedAt | date:'shortTime' }}
      </div>
    </div>
  </div>
</div>
