<app-user-header></app-user-header>

<!-- Search Bar Wrapper -->
<div class="top-search-bar">
  <div class="search-toggle">
    <button
      (click)="searchType = 'user'"
      [class.active]="searchType === 'user'"
    >
      Users
    </button>
    <button
      (click)="searchType = 'group'"
      [class.active]="searchType === 'group'"
    >
      Groups
    </button>
  </div>

  <app-search
    [searchResults]="results"
    [searchType]="searchType"
    (search)="onSearch($event)"
    (itemSelected)="onResultSelected($event)"
    (joinGroup)="onJoinGroup($event)"
  ></app-search>
</div>

<div class="chat-container">
  <!-- LEFT PANEL -->
  <div class="left-panel">
    <!-- Create Group Button -->
    <div class="create-group-btn-wrapper">
      <button class="create-group-btn" (click)="openCreateGroupModal()">
        ➕ Create Group
      </button>
    </div>

    <app-chat-list [chats]="chats" (selectChatEmitter)="onChatSelected($event)">
    </app-chat-list>
  </div>

  <!-- Right: Chat Window -->
  <div class="right-panel">
    <ng-container *ngIf="activeChat; else noChat">
      <app-chat-window
        [messages]="messages"
        [activeChat]="activeChat"
        [typingText]="typingText"
        (sendMessage)="onSendMessage($event)"
        (deleteMessage)="onDeleteMessage($event)"
        (leaveGroup)="onLeaveGroup(activeChat!._id)"
        (typing)="onTyping()"
        (stopTyping)="stopTyping()"
      ></app-chat-window>
    </ng-container>

    <ng-template #noChat>
      <div class="no-chat-selected">Select a chat to start messaging</div>
    </ng-template>
  </div>

  <app-create-group
    [visible]="showGroupModal"
    [allUsers]="allUsersList"
    (closeModal)="closeGroupModal()"
    (createGroup)="onCreateGroup($event)"
  ></app-create-group>
</div>
