<div class="chat-window">
  <!-- Header -->
  <div class="chat-header">
    <img class="avatar" src="user.png" />
    <div class="chat-name">
      <!-- Group Chat -->
      <ng-container *ngIf="activeChat?.isGroup; else privateChat">
        {{ activeChat?.groupName || "Unnamed Group" }}
      </ng-container>

      <!-- Private Chat -->
      <ng-template #privateChat>
        {{ getOtherParticipantName(activeChat) }}
      </ng-template>
    </div>
  </div>

  <!-- Messages -->
  <div class="messages" id="messageArea">
    <div
      class="message"
      *ngFor="let msg of messages"
      [ngClass]="{
        sent: msg.sender._id === loggedInUserId,
        received: msg.sender._id !== loggedInUserId
      }"
    >
      {{ msg.message }}

      <span class="time">
        {{ msg.createdAt | date : "shortTime" }}
      </span>
    </div>
  </div>

  <!-- Input -->
  <div class="chat-input">
    <input
      type="text"
      [(ngModel)]="messageText"
      placeholder="Type a message..."
      (keyup.enter)="send()"
    />

    <button (click)="send()">Send</button>
  </div>
</div>
